.Rproj.user
.Rhistory
.RData
.Ruserdata
Covid19IC.Rproj
report.zip
Atlas.xlsx
dataCovidBR.csv
data/maps/MUN/BR_Municipios_2019.cpg
data/maps/MUN/BR_Municipios_2019.dbf
data/maps/MUN/BR_Municipios_2019.prj
data/maps/MUN/BR_Municipios_2019.sbn
data/maps/MUN/BR_Municipios_2019.sbx
data/maps/MUN/BR_Municipios_2019.shp
data/maps/MUN/BR_Municipios_2019.shx
data/maps/UF/BR_UF_2019.cpg
data/maps/UF/BR_UF_2019.dbf
data/maps/UF/BR_UF_2019.prj
data/maps/UF/BR_UF_2019.shp
data/maps/UF/BR_UF_2019.shx
